.loading-donut {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .donut {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid rgb(61, 61, 124);
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
