.logsPage {
  &__container {
    padding: 2rem;
    display: flex;
    align-items: center;
    display: flex;
    gap: 2rem;
  }

  .assigned {
    width: 100%;

    &__subhead {
      margin: 2rem 0 1rem;
    }

    &__card {
      border-radius: 5px;
      overflow: scroll;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
      height: 30rem;
    }

    &__list-labels {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgb(61, 61, 124);
      padding: 0.5rem 0;
      margin: 0;
      position: static;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .label__item {
        color: white;
        font-weight: bold;
        flex: 1;
        text-align: center;
      }
    }

    &__item {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 0.5rem 0;
      border-bottom: 1px solid lightgray;
      align-items: center;
      margin: 0;

      &:hover {
        background-color: rgba(61, 61, 124, 0.1);
      }

      .assigned__info {
        flex: 1;
        text-align: center;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
