.logsPage {
  &__container {
    padding: 2rem;
    display: flex;
    // justify-content: center;
  }

  .assigned {
    width: 100%;

    &__card {
      border-radius: 5px;
      overflow: hidden;
    }

    &__list-labels {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgb(61, 61, 124);
      padding: 0.5rem 0;
      margin: 0;

      .label__item {
        color: white;
        font-weight: bold;
        flex: 1;
        text-align: center;
      }
    }

    &__item {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 0.5rem 0;
      border-bottom: 1px solid gray;
      align-items: center;
      margin: 0;

      &:hover {
        background-color: rgba(61, 61, 124, 0.1);
      }

      .assigned__info {
        flex: 1;
        text-align: center;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
