@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logsPage {
  &__container {
    padding: 2rem;
    display: flex;
    align-items: center;
    display: flex;
    gap: 2rem;
  }

  .assigned {
    width: 100%;

    &__subhead {
      margin: 2rem 0 1rem;
    }

    &__card {
      border-radius: 5px;
      overflow: scroll;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
      height: 30rem;
    }

    &__list-labels {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgb(61, 61, 124);
      padding: 0.5rem 0;
      margin: 0;
      position: static;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.095);


      .label__item {
        color: white;
        font-weight: bold;
        flex: 1;
        text-align: center;
      }
    }

    &__item {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 0.5rem 0;
      border-bottom: 1px solid lightgray;
      align-items: center;
      margin: 0;
      animation: fadeIn 0.3s ease-in;

      &:nth-child(even) {
        background-color: rgba(61, 61, 124, 0.1);
      }

      .assigned__info {
        flex: 1;
        text-align: center;


        .assigned {
          &__list-labels,
          &__item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
            gap: 10px;
            align-items: center;
          }

          &__actions {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .btn--start,
        .btn--finish {
          padding: 8px 12px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-weight: bold;
          transition: background-color 0.2s;
          width: 100px; // Standardized width
        }

        .btn--start {
          background-color: #4caf50; /* Green */
          color: white;
          &:hover {
            background-color: #45a049;
          }
        }

        .btn--finish {
          background-color: #f44336; /* Red */
          color: white;
          &:hover {
            background-color: #d32f2f;
          }
        }

        .status--completed {
          color: #007bff; // Blue or any color to signify completion
          font-weight: bold;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
