.addContainerForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background: #f8f8ff;
  max-width: 500px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  width: 450px;

  h3 {
    text-align: center;
    color: #3d3d7c;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  label {
    font-weight: bold;
    color: #333;
  }

  input,
  select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    background-color: #3d3d7c;
    color: white;
    border: none;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  button:hover {
    opacity: 0.9;
  }
}
